<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
    <div class="flex-center">
    <div class="unit-1-2 unit-1-on-mobile">
        <h1>MyDjango Social Auth</h1>
        <div>
            {# {% url "social:begin" "weibo" %}来自Lib\site-packages\social_django\urls.py #}
            <a class="btn btn-primary btn-block" href="{% url "social:begin" "weibo" %}">微博注册</a>
        </div>
    </div>
    </div>
    </div>
</div>
</body>
</html>