body{text-align:center;padding-top:40px;}
.error_main{font-size:20px;line-height:28px;padding-top:15px;}
.error_main a{color:#37ca89;border:1px solid #37ca89;border-radius:6px;padding:6px 40px;}
.error_main .index{margin-right:70px;}
.error_main .back{}
