<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>我的购物车</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static  'css/reset.css' %}">
<link rel="stylesheet" href="{% static  'css/carts.css' %}">
</head>
<body>
<section class="cartMain">
	<div class="cartMain_hd">
		<ul class="order_lists cartTop">
			<li class="list_chk">
				<!--所有商品全选-->
				<input type="checkbox" id="all" class="whole_check">
				<label for="all"></label>
				全选
			</li>
			<li class="list_con">商品信息</li>
			<li class="list_price">单价</li>
			<li class="list_amount">数量</li>
			<li class="list_sum">金额</li>
			<li class="list_op">操作</li>
            <li class="list_op"><a href="{% url 'index' %}">返回首页</a></li>
		</ul>
	</div>
	<div class="cartBox">
		<div class="shop_info">
			<div class="all_check">
				<!--店铺全选-->
				<input type="checkbox" id="shop_b" class="shopChoice">
				<label for="shop_b" class="shop"></label>
			</div>
			<div class="shop_name">
				店铺：<a href="javascript:;">MyDjango</a>
			</div>
		</div>
		<div class="order_content">
            {% for info in product_list %}
			<ul class="order_lists">
				<li class="list_chk">
					<input type="checkbox" id="checkbox_4" class="son_check">
					<label for="checkbox_4"></label>
				</li>
				<li class="list_con">
					<div class="list_text"><a href="javascript:;">{{ info.product }}</a></div>
				</li>
				<li class="list_price">
					<p class="price">¥{{ info.price }}</p>
				</li>
				<li class="list_amount">
					<div class="amount_box">
						<a href="javascript:;" class="reduce reSty">-</a>
						<input type="text" value="1" class="sum">
						<a href="javascript:;" class="plus">+</a>
					</div>
				</li>
				<li class="list_sum">
					<p class="sum_price">¥{{ info.price }}</p>
				</li>
				<li class="list_op">
					<p class="del">
                    <a href="{% url 'ShoppingCar' %}?product={{ info.product }}" class="delBtn">移除商品</a>
                    </p>
				</li>
			</ul>
			{% endfor %}
		</div>
	</div>
	<!--底部-->
	<div class="bar-wrapper">
		<div class="bar-right">
			<div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
			<div class="totalMoney">共计: <strong class="total_text">0.00</strong></div>
			<div class="calBtn"><a href="javascript:;">结算</a></div>
		</div>
	</div>
</section>
<script src="{% static  'js/jquery.min.js' %}"></script>
<script src="{% static  'js/carts.js' %}"></script>
</body>
</html>
